---
layout: handbook-page-toc
title: "TeamOps - Measurement Clarity"
description: TeamOps - Measurement Clarity
twitter_image: "/images/opengraph/all-remote.jpg"
twitter_image_alt: "GitLab remote team graphic"
twitter_site: "@gitlab"
twitter_creator: "@gitlab"
---

{::options parse_block_html="true" /}

## On this page
{:.no_toc}

- TOC
{:toc}

![GitLab TeamOps teamwork illustration](/handbook/teamops/images/teamops-illustration_teamwork_purple.png)
{: .shadow.medium.center}

This page is about one of the four Guiding Principles of TeamOps: Measurement Clarity. To learn more about the other three Principles, return to the main TeamOps page for a [complete overview of TeamOps](/teamops/), or enroll in the free [TeamOps course](https://levelup.gitlab.com/learn/course/teamops).
{: .alert .alert-info}

_Outdated workforce supervision tactics often trigger bias and presenteeism, so results must be uniquely recorded, managed, and supported for the accurate tracking and evaluation of productivity._

Like Peter Drucker famously said, "If you can't measure it, you can't manage it." But in conventionally managed organizations, too often the primary success metric is physical presence—a team member needs to be in a certain building in order to be "at work."

Teams working via TeamOps should employ methods of measuring productivity, value, and results that _don't_ depend on physical supervision as a measure of contribution. Re-prioritizing what, how, and when the organization measures enables a higher frequency of success analysis, higher accountability to objectives, lower workforce discrimination, and a wider reach of company communication.

In short: TeamOps treats "work" as a verb, not a noun.

Action tenets of strengthening measurement clarity, including real-world examples of each, are below.


## Transparent measurements

Conventional management philosophies glorify metrics, which is a nonspecific term that often lacks connection to objectives, mission, values, workflows, strategy, or a shared reality. TeamOps prefers [Key Performance Indicators (KPIs)](/company/kpis/), which are smaller, incremental measures linked to [Objectives and Key Results](/company/okrs/) (OKRs) that, well, _indicate performance_. These offer greater context on both daily operations and the relevance of ongoing productivity to a function or the entire company.

While KPIs measure smaller units than OKRs do, the former aren't dependent on the latter. In fact, the two should be symbiotic in nature, informing and influencing each other to enhance operational visibility, measurement accuracy, and team empowerment. If you're not creating OKRs to improve KPIs, then you're either missing KPIs or you have the wrong OKRs.

Crucially, under TeamOps every functional department shares its KPIs [transparently shared](/handbook/values/#findability) across the organization. This aids visibility and enables everyone to contribute.

<details>
   <summary markdown="span">Example of transparent measurements</summary>

   **Example 1:** [Chief Executive Officer OKR and KPIs](/company/okrs/fy23-q3/)

   In Q3-FY23, a CEO OKR is [Improve user and wider-community engagement](/company/okrs/fy23-q3/). This is the *initiative* to improve a series of KPIs, a subset of which are documented below: 
   1. Evolve the resident contributor strategy by conducting 5 customer conversations with current “resident contributors” in seat
   2. Certify 1,000 team members and 10,000 wider-community members in TeamOps 
   3. Enhance Corporate Processes and Successful Corporate Development Integration & Prospecting 

   These are documented in a tool that is accessible to the entire organization. Critically, any team member can see any other functions OKRs and KPIs for the quarter, reinforcing the [value of transparency](/handbook/values/#transparency).
</details>


## Measure results, not hours

The goal of every organizational operational model is to optimize the efficiency of producing results. But conventionally managed teams make a critical error when they conflate "efficiency" with "speed." This means _time_ becomes the team's highest priority and _working hours_ become a principal success metric for the organization.

In organizations powered by TeamOps, team members understand that the root of "productivity" is "to produce," and therefore focus on [executing business results](/handbook/values/#measure-results-not-hours), rather than executing on [presenteeism](https://language.work/research/killing-time-at-work/). TeamOps therefore encourages success measurements based on outputs, not inputs.

Note that outputs aren't just tangible deliverables. Results include any form of value a team member contributes to the organization's shared reality: helping a teammate, satisfying a customer, shipping code, brainstorming a new idea, writing a revision, or researching a competitor. All quantifiable reports, messages, insights, or submissions are evidence of productivity.

<details>
   <summary markdown="span">Example of measure results, not hours</summary>

   **Example 1:** [Measuring impact of GitLab's 10 year campaign](https://gitlab.com/gitlab-com/marketing/corporate_marketing/corporate-marketing/-/issues/5507)
   
   A cross-functional effort was required to produce the `10 Years of GitLab` integrated marketing campaign and [associated website](/ten/). A GitLab issue was established to explicitly define [elements to be tracked and measured](https://gitlab.com/gitlab-com/marketing/corporate_marketing/corporate-marketing/-/issues/5507) in order to provide an impact report. By focusing on results over hours spent (or if a given team member was online at a certain time, or in a certain office), everyone involved in the project can focus energy on execution.
</details>


## Prioritize due dates over scope

TeamOps may not treat [time as a success measurement](/handbook/teamops/measurement-clarity/#measure-results-not-hours), but it does require due dates. Under TeamOps, however, due dates aren't a means of creating unnecessary rigidity or measuring the duration of contributions; they exist to force mechanisms that enable teams to execute on decisions and enforce accountability.

An organization practicing TeamOps will always [set a due date](/handbook/values/#set-a-due-date) and, if necessary in light of changing circumstances, will _cut project scope_ to meet that due date rather than _postpone_ that date. This encourages teams to think [iteratively](/handbook/teamops/measurement-clarity/#iteration), recalculate the scope of current work, and better determine which aspects of a project are best saved for future objectives. Working this way limits loss of momentum.

<details>
   <summary markdown="span">Example of prioritize due dates over scope</summary>

   **Example 1:** [Maintaining a monthly release cadence for 10+ years](/releases/)

   As of 2022-12-01, GitLab has [shipped a monthly product release](/releases/) for 134 consecutive months. That's over 10 years! A decade of [consistent execution](/blog/2018/11/21/why-gitlab-uses-a-monthly-release-cycle/) is made possible by [cutting scope](/handbook/values/#set-a-due-date) instead of pushing ship dates.
</details>


## Iteration

Conventionally managed organizations often increase pressure to present complete and polished projects, documents, or plans when work "has finished." But this expectation slows progress and expends valuable time that could be used to exchange multiple rounds of feedback on smaller changes.

Executing on a decision shouldn't be a singular, one-time event. TeamOps reframes execution as an _ongoing series_ of [iterations](/handbook/values/#iteration)—small, compounding results each worthy of celebration. This encourages [smaller steps](/handbook/values/#move-fast-by-shipping-the-minimal-viable-change), which are more amenable to feedback, course correction, easy delivery. Breaking decisions into manageable components makes desired results more feasible.

A key aspect of TeamOps is incorporating [iteration](/handbook/values/#iteration) into every process and decision. This requires team members to act with a relatively [low level of shame](/handbook/values/#low-level-of-shame)—that is, to resist the urge to conceal work until it's perfect for fear of making mistakes. Working this way means doing the smallest viable and valuable thing (the [minimal viable change, or MVC](/handbook/values/#minimal-viable-change-mvc)) as quickly as possible in order to solicit feedback. Despite initial discomfort involved in this kind of sharing, iteration enables faster execution, shorter feedback loops, and an ability to course-correct sooner.

This philosophy mirrors the GitLab product from a cycle-time standpoint. GitLab is built to reduce the time between making a decision and getting the result to market. Iteration enables cycle time reduction to be applied in day-to-day decision making for any project, result, team, or company in any industry.

_Tip: To empower even more of your team to make fast decisions through iteration, consider hosting [Iteration Office Hours](https://www.youtube.com/watch?v=2eA7-E950ps)._

<details>
   <summary markdown="span">Example of iteration</summary>

   **Example 1:** [Iterating on promotional videos to launch TeamOps](https://gitlab.com/gitlab-com/marketing/inbound-marketing/global-content/digital-production/-/issues/319)

   In the development of TeamOps, our team at GitLab aspired to produce [two high-quality videos](https://gitlab.com/gitlab-com/marketing/inbound-marketing/global-content/digital-production/-/issues/319) to introduce the first, internal iteration of this certification. When it became clear that TeamOps's brand identity would be changing in the coming weeks, we decided to produce only one video — an example of [Minimal Viable Change (MVC)](/handbook/values/#minimal-viable-change-mvc) — and iterate as new information came in. This showcases a maturity in embracing iteration. It celebrates the [boring solution](/handbook/values/#boring-solutions) (one video, the minimum required to inform GitLab team members), and enabled faster decisions throughout the launch phase.

   **Example 2:** [Adding an MVC GitLab Citation Index to GitLab for Education homepage](https://gitlab.com/gitlab-com/www-gitlab-com/-/merge_requests/69665/)

   In a conventional organization, a revised homepage could be seen as binary. It's either complete, or not. [This merge request](https://gitlab.com/gitlab-com/www-gitlab-com/-/merge_requests/69665/) details a minimum viable change (MVC) to add one element to the [GitLab for Education](/solutions/education/) homepage. In the comment thread, GitLab team members agree that this iteration moves the page one step closer to an ideal state. By embracing and celebrating each iteration *as* execution, it enables team members to accelerate execution on other projects rather than being stuck on a prior project.
</details>


---

Restart the TeamOps model by learning about [TeamOps - Shared Reality](/handbook/teamops/shared-reality/), or return to the [TeamOps homepage](/teamops/).
{: .alert .alert-info}
