---
title: "A first look at the new GitLab Web IDE and remote development experience"
author: Eric Schurter
author_gitlab: ericschurter
categories: company
image_title: '/images/blogimages/web-ide-images/navin-beta-unsplash.jpeg' 
description: "The next-generation GitLab Web IDE, available to everyone, will enable faster and more efficient contributions right from your browser."
tags: features, news, product, workflow  
twitter_text: "Get ready to contribute faster and more efficiently with the new @gitlab Web IDE and remote development experience!" 
featured: no 
postType: product 
related_posts:
  - "/blog/2020/07/31/use-gitlab-with-vscode/"
  - "/blog/2022/05/23/the-future-of-the-gitlab-web-ide/"
  - "/blog/2022/12/07/introducing-the-gitlab-cli/"
---

A little while back I wrote about the [future of the GitLab Web IDE](/blog/2022/05/23/the-future-of-the-gitlab-web-ide/) and our decision to [rebuild the Web IDE](https://gitlab.com/groups/gitlab-org/-/epics/7683) on top of the open source VS Code project. Our goal: To make it simple for anyone and everyone to contribute, regardless of their development experience. Today, I am happy to announce that we are preparing to launch the new Web IDE experience as a beta, **available to everyone, and enabled by default on GitLab.com.** 

Developers and non-developers alike need to be able to contribute from anywhere, across multiple projects, and without context switching or the need to manage a local development environment. The new Web IDE is more user-friendly and efficient, combining VS Code's powerful core features with significantly improved performance and the ability to securely connect to a remote development environment directly from the Web IDE.

## Start using the Web IDE Beta December 19

I know you're excited to try it. We've been using it internally and it's fantastic. If you use GitLab.com, expect to see the Web IDE Beta available on December 19, 2022. There's nothing else you have to do, nothing to install, and no configuration necessary. After the launch, the Web IDE Beta will be the default experience across GitLab.

![Screenshot of welcome screen](/images/blogimages/web-ide-images/ide-welcome-screen.png){: .shadow}

### Available in 15.7 for self-managed users
For self-managed users, you'll get the Web IDE Beta as part of the GitLab 15.7 release, which will be available December 22, 2022. It will be behind a [feature flag](https://docs.gitlab.com/ee/user/project/web_ide_beta/index.html#enable-the-web-ide-beta) that admins can enable on an instance-level. 

## What can you expect with the new Web IDE? 

The Web IDE Beta introduces a number of new features and improvements over the previous Web IDE, including the following: 

- A flexible and customizable interface with collapsible panels and custom themes

![Screenshot of Web IDE interface](/images/blogimages/web-ide-images/ide-interface.png){: .shadow}

- Contextual actions and drag & drop support in the file panel

![Screenshot of file panel](/images/blogimages/web-ide-images/ide-file-panel.png){: .shadow}

- Find and replace across all open files

![Screenshot of find and replace](/images/blogimages/web-ide-images/ide-find-replace.png){: .shadow}

- An interactive document outline and visual history panel
- Up to 80% reduction in memory usage over the previous Web IDE
- Improved reliability of tracking changes to files and directories
- Better support for touchscreen devices such as tablets and (larger) smartphones

There's much, much more included in the Web IDE Beta, as you'll soon find out. But there's one more big thing to mention... 

## Interactive terminal access with remote development

Last but not least, the beta introduces an entirely new category to GitLab by making it possible to securely connect to a remote development environment, run commands in an interactive terminal panel, and get real-time feedback from right inside the Web IDE. See it in action in this short video: 

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/q_xzzY9GT9c" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

This is the first feature released as part of our new Remote Development category, with much more planned in the near future. By connecting the Web IDE to a cloud runtime environment, you can unlock the full potential of a web-based IDE without having to manage your own local environment. More information about configuring your remote development environment can be found in our [documentation](https://docs.gitlab.com/ee/user/project/remote_development/) and more details about the Remote Development roadmap can be found on our [direction page](/direction/create/editor/remote_development/). Be on the lookout for a lot more about remote development in the coming months.

## What about the previous Web IDE? 

The Web IDE Beta is ready to handle many of the most frequently performed tasks you could tackle in the existing Web IDE, like committing changes to multiple files and reviewing merge request diffs, but in a much more powerful and familiar interface. We hope you'll enjoy working in the Web IDE Beta as much as we do. 

If there's something missing, or for whatever reason you need to use the previous Web IDE experience, don't worry: We've included a [user preference](https://gitlab.com/-/profile/preferences) that allows you to switch back and forth between the two whenever you want. We'll keep both around until we're out of beta, something we have planned for GitLab 16.0 in May 2023, so you can maximize your efficiency while you adopt the new features. 

![Screenshot of user preference](/images/blogimages/web-ide-images/ide-user-preference.png){: .shadow}

## What's next for the GitLab Web IDE? 

Of course, we're not done yet! We will be improving the features you see today and introducing some exciting new features before we come out of beta. We're working on adding support for [VS Code extensions](https://gitlab.com/groups/gitlab-org/-/epics/7685) and [enabling project-wide search](https://gitlab.com/groups/gitlab-org/-/epics/9466), but we are making this beta available to everyone because we want to hear from you. What's the most important missing piece for you? How can we make you more productive in the Web IDE? Let us know in the [feedback issue](https://gitlab.com/gitlab-org/gitlab/-/issues/385787) and we'll keep iterating!

Cover image by [Navin Rai](lhttps://unsplash.com/@nicque) on [Unsplash](https://unsplash.com/photos/EgyIbEB7n8Y?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink)
{: .note}
